<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
</head>
<body>
    <p>
        OAuth2 authorize code flow was performed successfully!
    </p>
    <dl>
        <dt>Code</dt>
        <dd><code>{{.Code}}</code></dd>
        <dt>Scope</dt>
        <dd><code>{{.Scope}}</code></dd>
        <dt>State</dt>
        <dd><code>{{.State}}</code></dd>
    </dl>
</body>
</html>